# Django defaults
SECRET_KEY='something-111222333444'
DEBUG=1
ALLOWED_HOSTS='["localhost", "127.0.0.1"]'

# Database Settings
DB_NAME='socialnetdb'
DB_USER='socialnetdbuser'
DB_PASSWORD='something'
DB_HOST='postgres'
DB_PORT='5432'

# Docker
COMPOSE_PROJECT_NAME=socialnet_backend
COMPOSE_FILE=docker-compose.yaml
